TELEGRAM_BOT_TOKEN=your_telegram_bot_token
CONVEX_URL=https://gallant-monitor-845.convex.cloud
ALEM_SPEECH_TO_TEXT_KEY=your_speech_to_text_key
ALEM_KAZAKH_LLM_KEY=your_kazakh_llm_key
ALEM_RUSSIAN_LLM_KEY=your_russian_llm_key
